[Desktop Entry]
Exec=/usr/bin/usual_JBs.sh brigh-2 down
Icon=ktip
Name=brightness_down
NoDisplay=false
StartupNotify=false
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
