[Desktop Entry]
Comment=
Exec=/usr/bin/foco_1h_JBs.sh
Icon=applications-education-university
Name=foco_1h.sh
NoDisplay=false
Path[$e]=
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
