[Desktop Entry]
Exec=/usr/bin/focus_time_JBs.sh 2
Icon=applications-education-university
Name=foco_2h.sh
NoDisplay=false
StartupNotify=false
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
