#!/usr/bin/env xdg-open
[Desktop Entry]
Comment=
Exec=/usr/bin/foco_2h_JBs.sh
Icon=applications-education-university
Name=foco_2h.sh
NoDisplay=false
Path[$e]=
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
