[Desktop Entry]
Exec=/usr/bin/focus_time_JBs.sh 30m
Icon=applications-education-university
Name=focus_30m.sh
NoDisplay=false
StartupNotify=false
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
