[Desktop Entry]
Exec=/usr/bin/focus_time_JBs.sh 1h
Icon=applications-education-university
Name=focus_1h.sh
NoDisplay=false
StartupNotify=false
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
