[Desktop Entry]
Exec=/usr/bin/editor_test_open_JBs.sh kwrite
Icon=accessories-text-editor
Name=KWrite
NoDisplay=false
StartupNotify=false
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
# shortcut = ctrl + meta + k
