[Desktop Entry]
Exec=/usr/bin/monitor_change_resolution_JBs.sh 3
Icon=preferences-desktop-wallpaper
Name=monitor_mirror_display
NoDisplay=false
StartupNotify=false
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
# shortcut = ctrl + meta + m
