[Desktop Entry]
Exec=/usr/bin/monitor_change_resolution_JBs.sh c
Icon=preferences-desktop-wallpaper
Name=monitor_change_display
NoDisplay=false
StartupNotify=false
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
# shortcut = ctrl + meta + c
