[Desktop Entry]
Exec=/usr/bin/lock_screen_turn_off_suspend_JBs.sh
Icon=preferences-desktop-screensaver
Name=Suspend
NoDisplay=false
StartupNotify=false
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
