[Desktop Entry]
Exec=/usr/bin/lock_screen_turn_off_suspend_JBs.sh 5
Icon=preferences-desktop-screensaver
Name=suspend_wait5m
NoDisplay=false
StartupNotify=false
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
# shortcut = ctrl + meta + shift + s
