[Desktop Entry]
Exec=/usr/bin/volume_pulse_JBs.sh 0 down
Icon=preferences-desktop-sound
Name=volume_down
NoDisplay=false
StartupNotify=false
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
