[Desktop Entry]
Exec=/usr/bin/volume_pulse_JBs.sh down
Icon=audio-volume-low
Name=volume_down
NoDisplay=false
StartupNotify=false
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
# shortcut = shift + meta + down
