[Desktop Entry]
Exec=/usr/bin/volume_pulse_JBs.sh min
Icon=preferences-desktop-sound
Name=volume_min
NoDisplay=false
StartupNotify=false
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
