[Desktop Entry]
Exec=/usr/bin/volume_pulse_JBs.sh 0 up 0
Icon=preferences-desktop-sound
Name=volume_up
NoDisplay=false
StartupNotify=false
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
