[Desktop Entry]
Exec=/usr/bin/volume_pulse_JBs.sh overmax
Icon=audio-volume-high
Name=volume_overmax
NoDisplay=false
StartupNotify=false
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
# shortcut = shift + meta + right
